.App{
  margin: auto;
  width: 70%;
  margin-top: 0;
  margin-bottom: 0;
}
.App h3{
  text-align: center;
  color: #100249;
}
.validation-box
{
  
  margin: auto;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.App button{
  background-color: #100249;
  color: white;
  font-size: larger;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 160px;
  cursor: pointer;
}
.App button:hover
{
  background-color: #6c6197;
}
.App button:active
{
  background-color: #050213;
}
.verification-para
{
  text-align: center;
}